{#
   This file is part of the Exposure package.

   Copyright 2013 by Sébastien Pujadas

   For the full copyright and licence information, please view the LICENCE
   file that was distributed with this source code.
#}

{% from 'form_macros.tpl.html' import error, error_class, autofill %}

{% extends 'page-admin.tpl.html' %}

{% block content %}
<h1>Admin sign-in</h1>
<form role="form" class="form-horizontal" method="post" action="/">
	<div class="form-group{{ error_class(session.errors, 'email') }}">
		<label class="col-lg-2 control-label" for="email">Email address</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="email" name="email" placeholder="Type in your email address" 
				maxlength="254" value="{{ autofill(session.autofill, 'email') }}" />
		{{ error(session.errors, 'email') }}
		</div>
	</div>
	<div class="form-group{{ error_class(session.errors, 'password') }}">
		<label class="col-lg-2 control-label" for="password">Password</label>
		<div class="col-lg-10">
			<input type="password" class="form-control" id="password" name="password" placeholder="Type in your password" />
		{{ error(session.errors, 'password') }}
		</div>
	</div>

	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Sign in</button>
		</div>
	</div>

	<input type="hidden" name="token" value="{{ session.token }}" />
	<input type="hidden" name="action" value="admin_signin" />
</form>
{% endblock %}