{#
   This file is part of the Exposure package.

   Copyright 2013 by Sébastien Pujadas

   For the full copyright and licence information, please view the LICENCE
   file that was distributed with this source code.
#}

{% from 'form_macros.tpl.html' import error, error_class %}

<div class="form-group{{ error_class(session.errors, 'total_amount_value') }}">
	<label class="col-lg-2 control-label" for="total_amount_value">New amount in {{currency}}</label>
	<div class="col-lg-10">
		<input class="form-control" id="total_amount_value" name="total_amount_value" 
			placeholder="amount in {{ currency }}" value="{{ value_form }}"/>
		{{ error(session.errors, 'total_amount_value') }}
	</div>
</div>

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</div>
