{#
   This file is part of the Exposure package.

   Copyright 2013 by Sébastien Pujadas

   For the full copyright and licence information, please view the LICENCE
   file that was distributed with this source code.
#}

{% from 'form_macros.tpl.html' import autofill_or_value %}

{% extends "page-left-nav.tpl.html" %}

{% block content %}
<h1>{{financialneedbyamount.contributedTotal.project.name}}</h1>
<h2>Edit a financial need by amount</h2>

{% if financialneedbyamount.amount.valueByCurrencyCode(session.currency) is null %}
	{% set value = financialneedbyamount.amount.defaultValue %}
	{% set currency = financialneedbyamount.amount.defaultCurrencyCode %}
{% else %}
	{% set value = financialneedbyamount.amount.valueByCurrencyCode(session.currency) %}
	{% set currency = session.currency %}
{% endif %}
{% set value_form = autofill_or_value(session.autofill, 'amount_value', value) %}
{% set description_form = autofill_or_value(session.autofill, 'description', financialneedbyamount.description.stringByLanguageCode(session.language)) %}

<form role="form" class="form-horizontal" method="post" action="/">
	{% include 'financial-need-by-amount-form-fields.inc.tpl.html' %}

	<input type="hidden" name="currency" value="{{ currency }}"/>
	<input type="hidden" name="financial_need_by_amount_id" value="{{ financialneedbyamount.id }}" />
	<input type="hidden" name="token" value="{{ session.token }}" />
	<input type="hidden" name="action" value="financial_need_by_amount_save" />
</form>

<p><a href="/needs/{{financialneedbyamount.contributedTotal.project.urlSlug}}">Cancel</a></p>
{% endblock %}
