{#
   This file is part of the Exposure package.

   Copyright 2013 by Sébastien Pujadas

   For the full copyright and licence information, please view the LICENCE
   file that was distributed with this source code.
#}

{% from 'form_macros.tpl.html' import error, autofill, error_class %}

{% extends "page.tpl.html" %}

{% block content %}

<form role="form" class="form-horizontal" method="post" action="/">

<div class="form-group{{ error_class(session.errors, 'password') }}">
	<label class="col-lg-2 control-label" for="password">Password</label>
	<div class="col-lg-10">
		<input type="password" class="form-control" id="password" name="password" placeholder="Type in your new password" />
		{{ error(session.errors, 'password') }}
	</div>
</div>

<div class="form-group{{ error_class(session.errors, 'password_check') }}">
	<label class="col-lg-2 control-label" for="password">Password (confirm)</label>
	<div class="col-lg-10">
		<input type="password" class="form-control" id="password_check" name="password_check" placeholder="Type in your new password (again)" />
		{{ error(session.errors, 'password_check') }}
	</div>
</div>

<button type="submit" class="btn btn-primary">Set new password</button>
<input type="hidden" name="token" value="{{ session.token }}" />
<input type="hidden" name="action" value="set_new_password" />
</form>
{% endblock %}
