{#
   This file is part of the Exposure package.

   Copyright 2013 by Sébastien Pujadas

   For the full copyright and licence information, please view the LICENCE
   file that was distributed with this source code.
#}

{% extends "page-left-nav.tpl.html" %}

{% block content %}
<h1>Subscriptions</h1>
{% if user.currentSubscription is null or (user.currentSubscription.status != constant('\\Exposure\\Model\\Subscription::STATUS_ACTIVE'))%}
<p>No active subscription.</p>
<p><a href="/subscribe">Subscribe</a></p>
{% elseif user.currentSubscription.status == constant('\\Exposure\\Model\\Subscription::STATUS_ACTIVE') %}
	<h3>Current subscription</h3>
	<p>Name: {{user.currentSubscription.typeAndDuration.type.name.stringByLanguageCode(session.language)}}
	<p>Start: {{user.currentSubscription.startDateTime|date('d/m/Y')}}</p>
	<p>End: {{user.currentSubscription.endDateTime|date('d/m/Y')}}</p>
	{% if user.nextSubscription is null %}
		<p><a href="/subscribe">Extend current subscription</a></p>
	{% else %}
		<h3>Next subscription</h3>
		<p>Name: {{user.currentSubscription.typeAndDuration.type.name.stringByLanguageCode(session.language)}}
		<p>Duration: {{user.currentSubscription.typeAndDuration.durationInMonths}} months</p>
	{% endif %}
{% endif %}

{% if user.pastSubscriptions.count > 0 %}
<p><a href="/subscription-history">View subscription history</a></p>
{% endif %}
{% endblock %}
