{#
   This file is part of the Exposure package.

   Copyright 2013 by Sébastien Pujadas

   For the full copyright and licence information, please view the LICENCE
   file that was distributed with this source code.
#}

{% macro currency_value(multi_currency_value, currency_code) %}
{% if multi_currency_value.valueByCurrencyCode(currency_code) is null %}
{{multi_currency_value.defaultValue}} {{multi_currency_value.defaultCurrencyCode}}{% else %}
{{multi_currency_value.valueByCurrencyCode(currency_code)}} {{currency_code}}{% endif %}
{% endmacro %}

{% macro flag_if_no_local_string(language, multi_language_string) %}
{% if not multi_language_string.isAvailableInLanguageCode(language) %}
<img src="/assets/images/flags/{{multi_language_string.defaultLanguageCode}}.png" alt="{{multi_language_string.defaultLanguageCode}}"/>
{% endif %}
{% endmacro %}
